* {
  margin: 0;
  padding: 0;
  font-family: serif;
}

/* 
#2C3333
#2E4F4F
#0E8388
#CBE4DE */


body {
background-image:url('river-rock-stone-1000x1000.webp');
color: #2C3333;
}

.header {
  height: 100px;
  background-color: #0E8388;
  display: flex;
  margin: 20px 0;
  text-shadow: 1px 0 1px #CBE4DE,
  0 1px 1px #CBE4DE,
  -1px 0 1px #CBE4DE,
  0 -1px 1px #CBE4DE;
}

h1 {
  font-size: 70px;
padding: 20px 0;
margin: 0 auto;

}

.play {
  display: flex;
}

.play-btn {
  width: 170px;
  font-size: 40px;
  background-color: #2C3333;
  color: #CBE4DE;
  border-radius: 10px;
  border: none;
  margin: 20px auto;
  text-align: center;
}

.play-btn:hover{
  width: 170px;
  font-size: 40px;
  color: #2C3333;
  background-color: #CBE4DE;
  border-radius: 10px;
  border: none;
  margin: 20px auto;
  text-align: center;
}

.play-btn:active {
  width: 150px;
  font-size: 40px;
  background-color:#2C3333;
  color: #CBE4DE;
  border-radius: 10px;
  border: none;
  margin: 20px auto;
  text-align: center;
}

.round-info {
  display:flex;
  text-align: center;
  justify-content: space-around;
  font-size: 50px;
}

.current {
  height: 250px;
  background-color: rgb(203, 228, 222, 0.5) ;
  padding: 20px;
  border-radius: 9px;
}
.score {
  display: flex;
  justify-content: space-around;
}



h2 {
  font-size: 50px;
  margin: 0 auto;
}

h3 p {
  font-size: 100px;
  margin: 0 auto;
}

/*choices section*/

.players-selection {
  display:flex;
  justify-content: space-around;
  padding: 0 3rem;
}

.players-selection h2 {
  text-align: center;
  background-color:rgba(14, 132, 136, 0.1);
  color: #CBE4DE;
  text-shadow: 1px 0 1px rgb(44, 51, 51),
  0 1px 1px rgb(44, 51, 51),
  -1px 0 1px rgb(44, 51, 51),
  0 -1px 1px rgb(44, 51, 51);
}

.choice {
  border: 2px solid  #CBE4DE;
  border-radius: 9px;
  background-color:rgba(14, 132, 136, 0.1);
  min-width: 40%;
}


.btns-container {
  display: flex;
  justify-content: center
}

.btns,.computer-choice {
  width: 130px;
  margin: 30px 20px;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 30px;
  background-color: #2C3333;
  color: #CBE4DE;
  border: solid 2px #CBE4DE;;
}

.computer-choice {
  margin: 30px auto;
  text-align: center;
}

.choices-container {
  display: flex;
  justify-content: center;
  
  
}

.computer-choice-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
/*score*/
.current-score p {
  font-size: 50px;
  text-align: left;
  padding-right: 20px;
}

.computer-score,.player-score {
  margin-left: 20px
}
.result {
  display: flex;
  justify-content: left;
  margin: 20px 0;
  background-color:rgb(203, 228, 222, 0.5);
  border-radius: 9px;
  border: 2px solid #CBE4DE;
}

.result p, .current h3 {
    text-shadow: 1px 0 1px #CBE4DE,
  0 1px 1px #CBE4DE,
  -1px 0 1px #CBE4DE,
  0 -1px 1px #CBE4DE;
  font-size: 50px;
  font-weight: 700;
}
.winner {
  display: none;
  width: 3rem
}